$main-page-color: #ffffff;
$main-text-color: #676767;
$text-color: #7e7e7e;
$input-placeholder: #8a8a8a;
$main-nav-color: #ffffff;
$text-order-color: #63b569;
$order-descript-color: #000000;
$separate-color: #f4c22f;
$text-help-color: #696969;
